@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/Proxima\ Nova\ Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/Proxima\ Nova\ Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0C0C0C] text-white;
  font-family: "Proxima Nova", sans-serif;
}

.custom-gradient-border {
  position: relative;
  display: inline-block;
  padding: 2px; /* Adjust to control the border thickness */
  background: linear-gradient(90deg, #3c50e0 0%, #b478ff 50%, #f1ac0c 100%);
}

.custom-gradient-border .inner-button {
  background-color: #0c0c0c; /* Black background for button */
  padding: 13px 24px; /* Adjust for inner padding */
  color: white;
  display: inline-block;
  font-weight: bold;
}

.custom-gradient-border-small {
  position: relative;
  padding: 2px; /* Adjust to control the border thickness */
  background: linear-gradient(90deg, #3c50e0 0%, #b478ff 50%, #f1ac0c 100%);
  border-radius: 50px;
}

.custom-gradient-border-small .inner-button-small {
  background-color: #0c0c0c; /* Black background for button */
  padding: 3px 12px; /* Adjust for inner padding */
  color: white;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50px;
}

.custom-gradient-border:hover .margin-left-animation {
  margin-left: 6px;
  transition: all 0.3s;
}

.custom-gradient-border:hover .margin-right-animation {
  margin-right: 6px;
  transition: all 0.3s;
}

.lines {
  width: 172px;
  flex-shrink: 0;
  align-self: stretch;
  border-right: 1px dashed rgba(221, 221, 221, 0.08);
  border-left: 1px dashed rgba(221, 221, 221, 0.08);
}

.tagline {
  display: flex;
  height: 32px;
  padding: 7px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 28px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.05);
  display: inline-flex; /* Changed from flex to inline-flex */
}

.tag-button {
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.05);
}

.s0 {
  fill: #ffffff;
}

.highlight-text {
  color: #fdb300; /* Apply the highlight color */
  position: relative;
  font-weight: bold;
}

.underline-svg {
  position: absolute;
  bottom: 6px; /* Position the SVG just below the text */
  left: 0;
  width: 100%;
  height: auto;
}

.underline-svg-2 {
  position: absolute;
  bottom: -3px; /* Position the SVG just below the text */
  left: 0;
  width: 100%;
  height: auto;
}

.underlined-link {
  position: relative;
}

.translateY {
  transform: translateY(-56px);
}

.strong-blur {
  filter: blur(125px);
}

.link-color {
  color: #afafaf;
}

.s-floater {
  fill: #fdb300;
}

#banner {
  cursor: pointer;
  overflow: visible;
}

#banner:hover #left3 {
  transform: translate(-5px, 2px) rotate(-10deg); /* Moves slightly left and down */
  transition: transform 0.3s ease; /* Smooth transition */
}

#banner:hover #left1 {
  transform: translate(-2px, -4px) rotate(+5deg); /* Moves slightly left and down */
  transition: transform 0.3s ease; /* Smooth transition */
}

#banner:hover #left2 {
  transform: translate(-2px, 4px) rotate(-5deg); /* Moves slightly left and down */
  transition: transform 0.3s ease; /* Smooth transition */
}

#banner:hover #right1 {
  transform: translate(4px, -5px) rotate(22deg); /* Moves slightly left and down */
  transition: transform 0.3s ease; /* Smooth transition */
}

#banner:hover #right2 {
  transform: translate(4px, -2px) rotate(6deg); /* Moves slightly left and down */
  transition: transform 0.3s ease; /* Smooth transition */
}

#banner:hover #right3 {
  transform: translate(3px, 2px) rotate(6deg); /* Moves slightly left and down */
  transition: transform 0.3s ease; /* Smooth transition */
}

.z-back {
  z-index: 0;
}

.z-lines {
  z-index: 1;
}

.custom-large-heading {
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.15);
  font-family: "Proxima Nova", sans-serif;
  background: linear-gradient(90deg, #3c50e0 0%, #b478ff 50.5%, #f1ac0c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-size: 225px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* or 1 */
  letter-spacing: -1.5px;
}

.sub-menu-items-wrapper:hover .sub-menu-item-icon {
  filter: none !important;
}

.sub-menu-item-color-hover {
  color: white;
}

/* If the wrapper has flip-enabled class, change link color on hover */
.flip-enabled:hover .sub-menu-item-color-hover {
  color: black !important;
}

.submenu-item-tag {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}

.sub-menu-items-wrapper:hover .submenu-item-tag {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(6px);
}

.sub-menu-items-wrapper:hover .custom-text-color {
  color: #1a1a1a;
}

.move-mobile {
}

.mobile-sub-menu {
  z-index: 9999;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 148px);
  background-color: #0c0c0c;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.open-mobile-menu {
  transform: translateX(0%);
}

.menu-border {
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.15);
}

.language-hover {
  border: 1px solid rgba(255, 255, 255, 0);
}

.language-hover:hover {
  background-color: #23242a !important;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

@media (max-width: 1280px) {
  .translateY {
    transform: translateY(0px);
  }

  .testimonial-padding {
    padding-top: 56px;
    padding-bottom: 32px;
  }

  .custom-testimonial-padding {
    padding: 1rem;
  }

  .custom-grid-gap {
    gap: 1rem;
  }
}

@media (min-width: 1000px) {
  .custom-lg-border-shadow {
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 1000px) {
  .moved {
    transition: all 0.3s ease;
    transform: translateX(120px);
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .testimonial-padding {
    padding-top: 32px;
  }

  .custom-large-heading {
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.15);
    font-family: "Proxima Nova", sans-serif;
    background: linear-gradient(90deg, #3c50e0 0%, #b478ff 50.5%, #f1ac0c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-size: 90px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* or 1 */
    letter-spacing: -1.5px;
  }
}

@media (max-width: 401px) {
  .custom-font-size {
    font-size: 11px; /* Reduce font size to fit in one line */
  }
  .banner-text {
    font-size: 12px;
  }
}

@media (max-width: 362px) {
  .custom-font-size {
    font-size: 10px; /* Reduce font size to fit in one line */
  }
}

@media (max-width: 341px) {
  .custom-font-size {
    font-size: 9px; /* Reduce font size to fit in one line */
  }
}

@media (max-width: 329px) {
  .separator-img {
    display: none;
  }

  .astra-vectors {
    width: 30%;
  }

  .width-custom {
    width: 100%;
  }
}

@media (max-width: 299px) {
  .custom-row {
    flex-direction: column;
  }

  .custom-margin {
    margin-bottom: 12px;
  }

  .astra-vectors {
    width: 20%;
  }

  .width-custom {
    width: 100%;
  }
}
